html {	
	font-family: Helvetica;	
}

@font-face {
 	font-family: 'Zen Loop';
    src: url('ZenLoop.ttf');  
}

main {
   height: 80%;
}

header {
	height: 55px;
	width: 100%;
	box-shadow: 0 8px 11px -12px gray;  
	background-color: #F8F8FF;
}

footer{
	position: fixed;
   	left: 0;
   	bottom: 0;
	background-color: white;
	background-color: lightgray;
  	background-image:
    	linear-gradient(
      		lightgray, white
    		);
	height: 40px;
	width: 100%;
	border-top: 3px solid gray;
	text-align: center;
	font-size: 15px;
	font-color: black;	
}

.logo {
	font-size: 28px;
	letter-spacing: 15px;
}

.fa-home {
	padding-left: 100px;
}

.fa-user {
	padding-left: 30px;	
}

.menu a {
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 10px;
	color: #FF8C00;
	text-decoration: none;
}

.menu a:hover {
    opacity: 0.5;
    transition: 1s ease-in-out;
}

.menu {
	display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Zen Loop;
}

/*List page*/
.filters select {
	font-size: 14px;
	height: 55px; 
	width: 165px;
	border-radius: 5px;
	border-color: lightgray;
	background-color: #F5F5F5; 
	color: gray;
	padding: 14px;
	margin-top: 15px;
}

.filters select:hover{
	cursor: pointer;
}

.filters {
    background: white;
    width: 205px;
    text-align: center;
    display: flex;
    margin-left: 150px;
    margin-top: 30px;
    box-shadow: 20px 0 30px -20px lightgray,  -20px 0 30px -20px lightgray;     	
} 

#price, #slider-3 {
	margin-left: auto;
	margin-right: auto;
 	margin-top: 15px;
}

.filters .datepicker-01, .filters .datepicker-02 {
    height: 55px; 
	width: 165px;
	border-radius: 5px;
	border-color: lightgray;
	background-color: #F5F5F5; 
	color: black;
	padding: 15px;
	margin-top: 15px;
}

.filter-btn {
	height: 25px; 
	width: 165px;
	color: white;
	background-color: #FF8C00;
	border-color: #FF8C00;
	border-radius: 5px;
	border-style: none;
	margin-top: 17px;	
}

.filter-btn:hover{
	cursor: pointer;
	opacity: 0.5;
    transition: 1s ease-in-out;
}

.filters h5{
	color: #FF8C00;
	text-align: center;
}

.search{
	color: white;
    background-color: #FF8C00;
    height: 30px; 
    width: 660px;
    border-radius: 5px;
    margin-top: -540px;
    margin-left: 400px;
    margin-bottom: 30px;
    font-size: 17px;
    padding-left: 12px;
    padding-top: 13px;
}

.rooms img{
	float: left;
    height: 80px;
    width: 80px;
    object-fit: cover;
    margin-left: 359px;
    margin-top: -245px; 
    border-right: 2px solid #FF8C00; 
    padding-right: 15px;
    padding-left: 54px;
}

.rooms .title {
 	font-size: 14px;
  	float: left;
 	margin-top: -245px;
 	margin-left: 535px;
}
 
 .rooms .location{
 	font-size: 11px;
    float: left;
    margin-left: 535px;
    margin-top: -220px;
    color: gray;
}

.rooms .description {
	color: gray;
	font-size: 15px;
	line-height: 20px;
	float: left;
	margin-left: 535px;
	margin-top: -180px;
	word-break: break-all;
	width: 460px;	
}

.rooms input[type=button] {
	height: 25px; 
	width: 125px;
	color: white;
	background-color: #FF8C00;
	border-radius: 5px;
	border-style: none;
	float: left;
	margin-left: 860px;
	margin-top: -50px;
}

.rooms input[type=button]:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 1s ease-in-out;
}
 
.infos {
    height: 40px; 
    width: 660px;
    background-color: #A9A9A9;
    margin-top: 280px;
    margin-left: 415px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.infos .per-night {
	font-size: 14px;
	color: white;
	margin: 20px;
}

.infos .count-of-guests, .infos .type-of-room {
	font-size: 14px;
	color: white;
}

.infos .count-of-guests, .infos .type-of-room{
	margin: 20px;
}

.end{
	border-top: 1px dashed gray;
	width: 660px;
	margin-top: 30px;
	margin-left: 404px;	
	margin bottom: 50px;
}

#myBtn {
	display: none; 
    position: fixed; 
    bottom: 60px; 
    right: 20px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #FF8C00; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px;   
}

#myBtn:hover {
	background-color: #555; 
}

/*Room page*/
.room-bar {
	color: white;
    background-color: #FF8C00;
    height: 40px; 
    width: 650px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
}

.room-bar p{
	border-right: 2px white solid;
	margin: 10px;
	padding-right: 10px;
}

.checked {
    color: #FFD700;
}

.fa-heart {
	margin: 10px;
}

.per-night {
	margin-left: 67px;
}

img {
 	height: auto;
 	width: 650px;
 	padding: 10px;
 	margin-left: auto;
   	margin-right: auto;
 	margin-top: 10px;
 	display: flex;
   	justify-content: center;
   	align-items: center;
   	text-align: center;
}
 
.menu-container {
 	color: white;
	font-size: 11px;
	background-color: #FF8C00;
   	height: 70px; 
   	width: 650px;
   	border-radius: 5px;
   	display: flex;
   	justify-content: center;
   	align-items: center;
   	text-align: center;
   	margin-top: 10px;
   	margin-left: auto;
   	margin-right: auto;
   	margin-bottom: 30px;
}

.menu-container .guests, .menu-container .type-room, .menu-container .parking, .menu-container .wi-fi {
	border-right: 2px dashed white;
	padding: 5px;
	width: 20%;
}

.menu-container .pet {
	font-size: 11px;
	padding: 5px;
	width: 20%;
}

.room-description{
	width: 650px;
	height: 90px;
	border-left: 2px solid #FF8C00;
	padding-left: 10px;
	margin-left: auto;
   	margin-right: auto;
   	display: flex;
   	justify-content: center;
   	align-items: center;
   	text-align: center;
}

.room-description p {
	font-size: 14px;
	line-height: 20px;
}

.available {
	font-size: 14px;
	color: white;
	background-color: green;
	border: none;
	border-radius: 5px;
	height: 25px;
	width: 110px;
    margin-top: 120px;
	margin-left: -120px;
	line-height: 25px;
	text-align: center;
}

iframe {
	width: 650px; 
	height: 120px;
	margin-top: -40px;
	margin-left: auto;
   	margin-right: auto;
   	display: flex;
   	justify-content: center;
   	align-items: center;
   	text-align: center;
}

.horizontal-line {
	border-top: 1px dashed gray;
	width: 650px;
	margin-top: 20px;
	margin-left: auto;
   	margin-right: auto;
}

.user-reviews {
	width: 650px;
	height: auto;
	border-left: 2px solid #FF8C00;
	padding-left: 10px;
	margin-top: 40px;
	margin-left: auto;
   	margin-right: auto;
}

.add-review {
	width: 650px;
	height: auto;
	border-left: 2px solid #FF8C00;
	padding-left: 10px;
	margin-top: 40px;
	margin-left: auto;
   	margin-right: auto;
	margin-bottom: 60px;	
}
	
.add-review .fa-star  {
	color: #DCDCDC;
}

textarea {
	width: 650px;
	height: 70px;
	color: gray;
	margin-top: 20px;
}

.submit-review {
	height: 35px; 
	width: 85px;
	color: white;
	background-color: #FF8C00;
	border-color: #FF8C00;
	border-radius: 5px;
	border-style: none;
	padding: 5px;
	margin-top: 15px;
	margin-left: 260px;
	margin-bottom: 70px;
}

.submit-review:hover {
	cursor: pointer;
	opacity: 0.5;
	transition: 1s ease-in-out;
}

.user {
	margin-bottom: 10px;
}

.username {
	color: gray;
	width: 300px;
	height: 40px;
}

/*Smaller devices*/
@media screen and (max-width: 1000px) {
	/*Header & footer*/
	.logo {
		font-size: 25px;
		letter-spacing: 13px;
	}

	.menu a {
		font-size: 	17px;
		letter-spacing: 7px;
	}

	.fa-home {
		padding-left: 50px;
	}

	.fa-user {
		padding-left: 15px;
	}

	#myBtn {
		font-size: 15px;
		bottom: 80px; 
		right: 20px;
	}

	footer {
		height: 40px;
	}

	/*List page*/
   	select, .datepicker-01, .datepicker-02 {
   		width: 100%;
  	}
	
  	.filters {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		display: flex;
  		justify-content: center;
   		align-items: center;
   		text-align: center;
	}

	.rooms {
		width: 100%;
		margin-top: 600px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	
	.search{
    	height: 30px; 
    	width: 90%;
    	margin-top: -540px;
    	margin-bottom: 30px;
    	margin-left: auto;
		margin-right: auto;
	}

	.rooms img{
 		float: none;
    	height: auto;
    	width: 60%;
    	margin-left: auto;
    	margin-right: auto;
    	margin-top: 10px; 
    	border-right: none; 
    	padding: 0;
	}

	.rooms .title {
  		float: none;
 		margin-top: 10px;
 		margin-left: auto;
    	margin-right: auto;
 	}
 
 	.rooms .location{
  		float: none;
  		margin-left: auto;
    	margin-right: auto;
  		margin-top: 10px;
 	}

	.rooms .description {
		float: none;
		margin-left: auto;
    	margin-right: auto;
		margin-top: 10px;
		width: 60%;	
	}

	.rooms input[type=button] {
		height: 25px; 
		width: 125px;
		float: none;
		margin-left: auto;
    	margin-right: auto;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.infos {
   		height: 40px; 
   		width: 90%;
   		margin-top: 10px;
   		margin-left: auto;
    	margin-right: auto;
    	margin-bottom: 70px;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	text-align: center;
	}

 	.per-night, .count-of-guests, .type-of-room {
		font-size: 12px;
		margin: 10px;
	}

	.end{	
		width: 100%;
		margin-top: 10px;
		margin-left: auto;
    	margin-right: auto;
	}
}

/*Mobile version*/
@media screen and (max-width: 800px) { 
	/*Room page*/
	.room-bar {
   		height: 60px; 
   		width: 100%;
   		font-size: 12px;
    }

	.room-bar p{
		margin: 5px;
		padding-right: 5px;
	}

	.fa-heart {
		margin: 5px;
	}

	.per-night {
		margin-left: 5px;
	}

	img {
 		height: auto;
 		width: 90%;
 		padding: 10px;
	}

	.menu-container {
   		height: 70px; 
   		width: 100%;
  		margin-bottom: 30px;
   		font-size: 11px;
	}

	.guests{
		padding: 5px;
		width: 20%;
	}

	.room-description{
		width: 90%;
		height: 90px;
		margin: 15px;
	}

	iframe {
		width: 90%; 
		height: 170px;
		margin: 15px;
	}

	.horizontal-line {
		width: 90%;
		margin: 15px;
	}

	.user-reviews {
		width: 100%;
		margin: 15px;
	}

	.add-review {
		width: 100%;
		margin: 15px;
	}
	
	textarea {
		width: 90%;
		margin: 15px;
	}

	.submit-review {
		margin-left: 40%;
	}
}
